<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Advance Invoice</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<style>
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    
    <%- include('partials/adminheader.ejs') %>
    
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" style="min-height:75%;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!-- <h1 class="h3 mb-0 text-gray-800" style="color: blue;"><div id="txt"></div></h1> -->
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content Row -->


          <!-- Content Row -->

                     <!-- Color System -->
                     <div class="container" style="background-color: white;width: 100%;">
                      <div class="row justify-content-center">
                          <div class="title col-12 col-lg-12 " style="margin-top: 30px;">
                            <h1 class="m-0 font-weight-bold text-primary" style="text-align: center;"  >
                              ออกใบแจ้งหนี้ล่วงหน้า</h1>
                                  <br>
                              
                          </div>
                      </div>
                  </div>
                  <div class="container" style="background-color: white;width: 100%;">
                    <div class="row justify-content-center">
                      <div class="media-container-column col-lg-8" data-form-type="formoid">
                          <!---Formbuilder Form--->
                          <form action="/createadvinv" method="POST" class="mbr-form form-with-styler">
                              <div class="row">
                                  
                                  <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                  </div>
                              </div>
                              <div class="dragArea row">
                                  <div class="col-md-4  form-group" data-for="name">
                                      <label for="name-form1-h" class="form-control-label mbr-fonts-style display-7">บ้านเลขที่</label>
                                       <input type="้house_no" name="house_no" data-form-field="Name" required="required" class="form-control display-7" id="house_no" value="<%= houseno %>" >
                                      
                                          <!-- <select class="form-control display-7" name="name" data-form-field="Name" id="sel1">
                                          <option>ค่ารักษาความปลอดภัย</option>
                                          <option>ค่าจ้างพนักงาน</option>
                                          <option>ค่าไฟ</option>
                                          <option>ค่าน้ำ</option>
                                          <option>ค่าซ่อมบำรุง</option>
                                          <option>ค่าใช้จ่ายอื่นๆ</option>
                                        </select> -->
                                  </div>
                                  <div class="col-md-2" id="boxsearch1">
                                    
                                    <button type="button" id="search1" class="btn btn-success display-4" style="border-radius: 10px;margin-top: 30px;margin-left: -20px;" onclick="getonwername()" >ค้นหา</button>
                                   
                                  </div>
                                  <div class="col-md-4  form-group" data-for="email">
                                      <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">วันที่ออกใบแจ้งหนี้</label>
                                      <input type="date" id="inv_date" name="inv_date" data-form-field="invoicedate" required="required" class="form-control display-7"   >
                                  </div>
                                  <div data-for="phone" class="col-md-6  form-group">
                                      <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7">ชื่อเจ้าบ้าน</label>
                                      <input type="owner_name" name="owner_name" data-form-field="Phone" class="form-control display-7" id="phone-form1-h" value="<%= ownername %>">
                                      <input type="hidden" name="period_id" data-form-field="Phone" class="form-control display-7" id="phone-form1-h" value="<%= periodid %>">
                                      <input type="hidden" name="common_fee" data-form-field="Phone" class="form-control display-7" id="phone-form1-h" value="<%= commonfee %>">
                                      <input type="hidden" name="parking_fee" data-form-field="Phone" class="form-control display-7" id="phone-form1-h" value="<%= parkfee %>">
                                 
                                  </div>
                                  <div data-for="number" class="col-md-3  form-group">
                                      <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7">มีจำนวนรถ(คัน)</label>
                                      <input type="number" name="phone" data-form-field="Phone" class="form-control display-7 align-center" id="phone-form1-h" style="text-align: center;" readonly value="<%= carqty %>">
                                  </div>
                                 
                                 
                                  <div data-for="number" class="col-md-6  form-group" style="border-style: solid;border-radius: 10px;border-color:lightgray;">
                                      <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7" style="padding: 5px;">ประเภทใบแจ้งหนี้</label>
                                      <% if (carqty >= 1) {%>
                                      <div class="checkbox" >
                                          
                                          &nbsp;&nbsp;&nbsp;&nbsp; <label><input type="checkbox" style="margin-top: 10px;" checked> ค่าส่วนกลาง     </label>
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          <label><input type="checkbox" checked>ค่าที่จอดรถ </label>
                                        </div>
                                        <% } else { %>
                                          <div class="checkbox" >
                                          
                                              &nbsp;&nbsp;&nbsp;&nbsp; <label><input type="checkbox" style="margin-top: 10px;" checked readonly> ค่าส่วนกลาง     </label>
                                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              <label><input type="checkbox" readonly >ค่าที่จอดรถ </label>
                                            </div>
                                          <% } %>
                                  </div>
                                  <div data-for="number" class="col-md-3  form-group">
                                      <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7">ออกล่วงหน้ากี่เดือน</label>
                                      <select class="form-control display-7" name="adv_month" data-form-field="Name" id="adv_month" style="text-align: center;">
                                          <option value="1"> 1 เดือน </option>
                                          <option value="2"> 2 เดือน </option>
                                          <option value="3"> 3 เดือน </option>
                                          <option value="6"> 6 เดือน </option>
                                          <option value="8"> 9 เดือน </option>
                                          <option value="10"> 10 เดือน </option>
                                          <option value="12"> 12 เดือน </option>
                                        </select>
                                  </div>
                               
                                  <div data-for="message" class="col-md-12 form-group">
                                      <label for="message-form1-h" class="form-control-label mbr-fonts-style display-7">หมายเหตุ</label>
                                      <textarea rows="2" name="remark" class="form-control display-4" id="remark" ></textarea>
                                  </div>
                                 
                                  <div class="col-md-12 input-group-btn align-center" style="text-align: center;margin-top: 30px;">
                                      <button type="submit" class="btn btn-success btn-form display-4" style="width:150px;margin: 10px;">ออกใบแจ้งหนี้</button>
                                      <button type="button" class="btn btn-warning btn-form display-4" style="width:150px" onclick="window.history.back()">ยกเลิก</button>
                                  </div>
                              </div>
                          </form><!---Formbuilder Form--->
                      </div>
                  </div>
      
        <!-- /.container-fluid -->

      </div>
      <br>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; DooSmartVill 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.ejs">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>
  <script>
    var x = screen.width;
    
       if (x<600) {
       
         document.getElementById('search1').style = "margin-top:0px;margin-left:0px;width:100px";
         document.getElementById('boxsearch1').style = "text-align:center";
      } 
   
   </script>
  <script>

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd;
    } 
    if (mm < 10) {
      mm = '0' + mm;
    } 
    var today = yyyy + '-' + mm + '-' + dd ;
    console.log(today);
    document.getElementById("inv_date").value = today;
    function checkformat()
            {
                console.log(document.getElementById("inv_date").value);
            }
    
    </script>
    
    <script>
    
    function getonwername()
            {
                var house_no= document.getElementById("house_no").value;
    window.location.href="/getownername/" + house_no;
    //console.log(storeid);
            }
    </script>

</body>

</html>
