<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill- สรุปรายรับวันนี้</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
 <link href="assets/css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('partials/adminheader.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800">สรุปรายรับวันนี้</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">
                      
           
          <div class="col-md-6 mb-4 ">
            <div class="card border-left-warning shadow h-100 py-2" id="today" style="background-color: white;">
              <div class="card-body">
                <div class="row">
                  <div class="col align-center">
                    <h6  class="h2 card-title text-uppercase text-muted mb-0">รายรับวันนี้</h6><br>
                   
                    <% if (todayincome !== null) {%>
                    <span id="sum0" class="h1 font-weight-bold mb-0 align-center"><%= todayincome %> บาท</span>
                    <% } else {%>
                      <span id="sum0" class="h1 font-weight-bold mb-0 align-center">0 บาท</span>
                     
                      <% }%>
                  </div>
                
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-5x text-gray-300"></i>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span> -->
                </p>
              </div>
            </div>
          </div>
    
        <!-- end box1  -->
       
  
          <div class="col-md-3 mb-4 ">
            <div class="card border-left-primary shadow h-100 py-2" style="background-color: white;">
              <div class="card-body">
                <div class="row">
                  <div class="col align-center">
                    <h6 class="h4 card-title text-uppercase text-muted mb-0">เงินโอนวันนี้(บาท)</h6><br>
                    <% if (todaytransfer !== null) {%>
                    <span id="sum1" class="h2 font-weight-bold mb-0 align-center"><%= todaytransfer %></span>
                    <% } else {%>
                      <span id="sum0" class="h2 font-weight-bold mb-0 align-center">0</span>
                     
                      <% }%>
                 
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-users fa-3x text-gray-300"></i>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span> -->
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4 " >
            <div class="card border-left-danger shadow h-100 py-2" style="background-color: white;">
              <div class="card-body">
                <div class="row">
                  <div class="col align-center">
                    <h6 class="h4 card-title text-uppercase text-muted mb-0">เงินสดวันนี้(บาท)</h6><br>
                    <% if (todaycash !== null) {%>
                    <span id="sum2" class="h2 font-weight-bold mb-0 "><%= todaycash %></span>
                    <% } else {%>
                      <span id="sum0" class="h2 font-weight-bold mb-0 align-center">0</span>
                     
                      <% }%>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-3x text-gray-300"></i>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">Since yesterday</span> -->
                </p>
              </div>
            </div>
          </div>
         
          <div class="col-md-6 mb-4 " >
            
              <div class="card border-left-danger shadow h-100 py-2" style="background-color: white;">
                <div class="card-body">
                  <div class="row">
                    <div class="col align-center">
                      <h5 class="h2 card-title text-uppercase text-muted mb-1">รายจ่ายวันนี้(บาท)</h6><br>
                        <% if (todayexpense !== null) {%>
                      <span id="sum3" class="h1 font-weight-bold mb-0 align-center"><%= todayexpense %></span>
                      <% } else {%>
                        <span id="sum0" class="h1 font-weight-bold mb-0 align-center">0</span>
                       
                        <% }%>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-5x text-gray-300"></i>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <!-- <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span> -->
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 " >
              <div class="ccard border-left-info shadow h-100 py-2" style="background-color: white;">
                <div class="card-body">
                  <div class="row">
                    <div class="col align-center">
                      <h5 class="h2 card-title text-uppercase text-muted mb-1">เงินสดย่อยวันนี้(บาท)</h6><br>
                        <% if (todaypettycash !== null) {%>
                        <span id="sum3" class="h1 font-weight-bold mb-0 align-center"><%= todaypettycash %></span>
                        <% } else {%>
                          <span id="sum0" class="h1 font-weight-bold mb-0 align-center">0</span>
                         
                          <% }%>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-5x text-gray-300"></i>
                      </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <!-- <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span> -->
                  </p>
                </div>
              </div>
            </div>
         
     
          <!-- end box 2 -->
         
            <!-- end class -->
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
           
         

       

            <!-- Pie Chart -->

        
          </div>

          <!-- Content Row -->
          

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

         <!-- Footer -->
         <%- include('partials/adminfooter.ejs') %>
         <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.ejs">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <!-- <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>
  <script src="assets/js/demo/chart-bar-demo.js"></script> -->

</body>

</html>
<script>
  var x = screen.width;
    
    if (x<500) {
      document.getElementById('myChart2').height = 300;
      document.getElementById('myChart2').style = "border-style: solid;border-radius: 10px;border-color: white;padding:0px;background-color: white";
      document.getElementById('today').style ="height:150px"
    } 
    
</script>