<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill - Expense List</title>

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
 <link href="assets/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/adminheader.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          
          <!-- <h1 class="h3 mb-2 text-gray-800">ข้อมูลการจอง</h1> -->
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-8 ">
                <h4 class="m-0 font-weight-bold text-primary">รายการรายจ่ายของหมู่บ้าน</h4>  
                </div>
                <div class="col-4 row " style="text-align: right;">
                 
                  <% if (condition == 0) {%>
                    <div class="btn-group btn-group-toggle" >
    
                     <label class="btn btn-secondary active " ><a name="score" id= "monthexpense" href="/getsliplist/0" style="color:white" > รายจ่ายเดือนนี้ </a></label>
                     <label class="btn btn-primary"><a name="score" id= "all" href="" style="color:white">ดูทั้งหมด</a></label>
                    </div>
                  
                      <%} else {%>
                        <div class="btn-group btn-group-toggle" >
                       
                          <label class="btn  btn-primary " ><a name="score" id= "monthexpense1" href="" style="color:white" > รายจ่ายเดือนนี้ </a></label>
                          <label class="btn btn-secondary active "><a name="score" id= "all1" href="" style="color:white">ดูทั้งหมด</a></label>         </div>
                  <%} %>
         
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr class="table-heads ">
                      <th class="head-item mbr-fonts-style display-7">วันที่</th><th class="head-item mbr-fonts-style display-7">
                        ประเภท</th><th class="head-item mbr-fonts-style display-7">รายละเอียด</th><th class="head-item mbr-fonts-style display-7" style="text-align: center;">ชำระเป็น</th>
                        <th class="head-item mbr-fonts-style display-7">จำนวน(บาท)</th><th class="head-item mbr-fonts-style display-7">ผู้รับเงิน</th>
                      </tr>
           
                        
                  </thead>
                  <tfoot>
                    <tr >
                      <th class="head-item mbr-fonts-style display-7" style="width: 10%;">วันที่</th>
                      <th class="head-item mbr-fonts-style display-7" style="width: 12%;">ประเภท</th><th class="head-item mbr-fonts-style display-7">รายละเอียด</th><th class="head-item mbr-fonts-style display-7" style="width: 10%;">ชำระเป็น</th>
                        <th class="head-item mbr-fonts-style display-7">จำนวน(บาท)</th><th class="head-item mbr-fonts-style display-7">ผู้รับเงิน</th>
                      </tr>
                         </tfoot>
                         <% if (expenselist.length > 0) {%>

                          <tbody>
                            
                            
                            
                            <% expenselist.forEach((expense, index) => { %>
                          <tr> 
                              
                            <td class="body-item mbr-fonts-style display-7"><%= expense.exp_date1 %></td>
                            <td class="body-item mbr-fonts-style display-7"><%= expense.expense_type %></td>
                            <td class="body-item mbr-fonts-style display-7 "><%= expense.details %></td>
                            <td class="body-item mbr-fonts-style display-7" style="text-align: center;"><%= expense.payment_type %></td>
                            <td class="body-item mbr-fonts-style display-7 align-right"><%= expense.expense_amount %></td>
                            <td class="body-item mbr-fonts-style display-7"><%= expense.receive_name %></td>
                         
                            
                          </tr>
                          <% }) %>
                          </tbody>
                              
                          <% } %>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

         <!-- Footer -->
         <%- include('partials/adminfooter.ejs') %>
         <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>


  <!-- Set URL to see by period -->
  <script>

if (document.getElementById("monthexpense") !== null){
 document.getElementById("monthexpense").href = "/getexpenselist/0/Bearer " + token1;
 document.getElementById("all").href = "/getexpenselist/1/Bearer " + token1;
  }
 if (document.getElementById("monthexpense1") !== null){
  document.getElementById("monthexpense1").href = "/getexpenselist/0/Bearer " + token1;
 document.getElementById("all1").href = "/getexpenselist/1/Bearer " + token1;
 }
  </script>

  <!-- Page level custom scripts -->
  <script>
    // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('#dataTable').DataTable({
    "order": []
});
    
  });
  </script>

</body>

</html>
