<!-- 
Invoice dynamically rendered into html using handlebars and converted into pdf
using chrome-pdf recipe. The styles are extracted into separate asset for 
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the 
incoming API request.
!-->

<html>
    <head>
      <meta charset="UTF-8">
      <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.11.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Site Maker Description">
  
  <title>INV<%= invoiceno %></title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/datatables/data-tables.bootstrap4.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="print-js/dist/print.css">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <script src="node_modules\print-js\dist\print.js"></script>
        <style type="text/css">

            @media print
            {
                #non-printable { display: none; }
                #printable { display: block; }
            }
            @page {
                size: A4;
                margin: 0;
            }
            </style>
                
    </head>
 
    <body>
        
        <div class="row" id="non-printable">
          
            <div class="col-md-9">
            <a type="button" class="btn btn-primary btn-form display-4" style="border-radius: 30px;" onclick="window.history.back()">กลับ</a>
            </div>
            <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-form display-4" style="border-radius: 30px;" onclick="clearadvance()">ลบใบแจ้งหนี้ล่วงหน้า</button>
        </div>
            <button type="button" id="printpdf" class="btn btn-primary btn-form display-4" style="border-radius: 30px;display:none" onclick="printJS('printable', 'html');"> <span class="mbri-save"></span> บันทึก</button>


    </div>
    
        <div id="printable" >
        <div class="invoice-box" style="width:98%;">
            <table cellpadding="0" cellspacing="0" style="border-style: solid;border-color: black;padding: 15px;min-height: 170mm;">
                <tr class="top">
                    <td colspan="2">
                  
                        <table>
                  
                            <tr id="head1">
                                <td class="title" id = "image1">
                                    <img src="assets/images/idesign1.png" style="width:100%; max-width:300px;" />
                                    </td>
                            
                                  
                                <td style="margin-top: -20px;" >
                                 
                                    เลขที่ใบแจ้งหนี้: INV<%= invoiceno %>
                                    <br> วันที่ออก: <%= invoicedate %>
                                    <br>  <p class="align-right" style="font-size:small;">นิติบุคคลหมู่บ้านไอน์ดีไซน์ บัญชีออมทรัพย์ ธ.ไทยพาณิชย์ เลขที่  <a style="font-weight: bold;font-size: large;">171-272623-1</a> </p>
                               
                                </td>
                               
                            </tr>
                            <tr  id="headios" style="display:none">
                                                    
                                <td colspan="2" class="title" id = "image1">
                                    <img src="assets/images/idesign1.png" style="width:100%; max-width:300px;" />
                                    </td>
                                                             
                            </tr>
                            <tr id="headios1" style="display:none">
                                       
                                <td colspan="2" >
                                 
                                    เลขที่ใบแจ้งหนี้: INV<%= invoiceno %>
                                    <br> วันที่ออก: <%= invoicedate %>
                                    <br>  <p class="align-right" style="font-size:small;">นิติบุคคลหมู่บ้าน DoSmartVill บัญชีออมทรัพย์ ธ.ไทยพาณิชย์ เลขที่  <a style="font-weight: bold;font-size: large;">XXX-XXXXXX-X</a> </p>
                               
                                </td>
                               
                            </tr>
                         
                        </table>
                        <table id="head" > 
                            <tr>       
                                <td id = "blank1">
                                    
                                </td>
                                
                              <td class="title align-right" id="head2">
                                
                                ใบแจ้งชำระค่าส่วนกลาง
                              </td>
                               
                            </tr>
                     
                        </table>
                        
                    </td>
                </tr>
                
                <tr class="information ">
                    <td colspan="2 " class="align-right">
                        <table>
                            <tr>
                                <td>
                                    <br>
                                 <a style="font-weight: bold;"> <%= ownername %><br></a>
                                    บ้านเลขที่ <a style="font-weight: bold;font-size: large;"><%= houseno %></a> ซอยที่ <a style="font-weight: bold;font-size: large;"><%= laneno %></a> <br>
                                    ถนน เลียบคลองสอง แขวง บางชัน เขตคลองสามวา กรุงเทพมหานคร 10510
                                       
                    <input type="hidden" id = "house_id" name="house_id"  class="form-control align-right"  value="<%= houseno %>" >
                   
                                </td>
                               
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading " style="font-size: large;">
                    <td>
                        รายการ
                    </td>
                    <td>
                       จำนวนเงิน
                    </td>
                </tr>
                <% if (invoicelist.length > 0) {%>
                    <% invoicelist.forEach((invoice, index) => { %>
                <tr class="item" style="font-size: large;">
                    <% if (invoice.amount == commonfee || invoice.invoice_type =='ค่าจอดรถ') {%>
                    <td>
                        
                      <%= invoice.invoice_type %> เดือน <%= invoice.invoice_month %>
                    </td>
                    <td>
                      <%= invoice.amount %> บาท
                    </td>
                    <%} else {%>
                        <td>
                        
                            <%= invoice.invoice_type %> เดือน <%= invoice.invoice_month %> (ค่าส่วนกลางต่อเดือน <%= commonfee %> บาท -ส่วนลด <%= Math.round((commonfee-invoice.amount)*100/commonfee) %>%)
                          </td>
                          <td>
                            <%= invoice.amount %> บาท
                          </td>
                 <%}%>  
                 
                  
                              
                </tr>
                <% }) %>
                <tr class="item" style="font-size: large;">
                    <% if (oldamount1 > 0) {%>
                        <td >
                            ยอดเงินชำระไว้เกินยกมา:
                        </td>
                        <td >
                           <%= oldamount %> บาท
                        </td>
                        <% } else if (oldamount1 < 0) { %>
                            <td >
                                ยอดเงินค้างชำระยกมา: 
                            </td>
                            <td >
                                <%= oldamount %> บาท
                            </td>
                            <% } else {  %>
                                <td >
                                   
                                </td>
                                <td >
                                  
                                </td>
                                <% } %>

                </tr>
             
                <tr class="total " style="font-size: large;">
                  
                  <td colspan="2" style="text-align: right;">
                      รวมที่ต้องชำระทั้งสิ้น: <%= totalamount %> บาท
                  </td>
              </tr>
              <% if (oldamount1  < -5000) {%>
                <tr class="total " style="font-size: large;">
                    
                    <td colspan="2" style="text-align: right;font-size: small;color:red">
                        (เงินจำนวนนี้ไม่รวมค่าปรับค้างชำระ)
                    </td>
                   
                </tr>
                <% } else { %>
                    <tr class="total " style="font-size: large;">
                    
                        <td colspan="2" style="text-align: right;font-size: small;color:red">
                       
                        </td>
                       
                    </tr>
                    <% } %>
              <tr class="total ">
               
                 
            </tr>
                <% } else { %>
               
              
                    <% if (oldamount1 < 0) {%>              
                <td colspan="2" style="text-align: right;">
                    ไม่มีค่าส่วนกลางค้างจ่ายเดือนนี้ แต่มียอดเงินค้างชำระ: <%= oldamount %> บาท
                </td>
                <% } else if (oldamount1 > 0) { %>
                    <td colspan="2" style="text-align: right;">
                        คุณมีเงินคงเหลือจากการชำระล่วงหน้า: <%= oldamount %> บาท
                        <br>
                        ไม่มีค่าส่วนกลางค้างจ่าย ขอบคุณที่ชำระตรงเวลา
                    </td>
                    <% } else { %>
                        <td colspan="2" style="text-align: right;">
                            ไม่มีค่าส่วนกลางค้างจ่าย ขอบคุณที่ชำระตรงเวลา
                        </td>
                        <% } %>
                  <% } %>
                <tr class="information ">
                  <td colspan="2 ">
                      <table>
                          <tr>

                            <td>
                         
                           </td>
                              <td>
                                <br>
                                 ผู้ออกใบแจ้งหนี้<br>
                                 <br>
                                 ลงชื่อ ___________________________<br>
                         
                              </td>
                              
                          </tr>
                      </table>
                      <p class="align-center" style="font-size:medium;"> ******ใบแจ้งหนี้นี้อยู่ในระหว่างการพัฒนาระบบ หากพบข้อมูลไม่ถูกต้องให้ติดต่อนิติบุคคลในวันและเวลาทำการ*******</p> 
                    
                  </td>
              </tr>
            </table>
          
        </div>
    </div>
        <!-- Logout Modal-->

        <div class="modal fade" id="clearadvance1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="height:200px;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ยืนยันที่จะลบใบแจ้งหนี้ที่ออกล่วงหน้า?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                
                <form id="status1"  action="/clearadvanceinv" method="post" enctype="multipart/form-data">
        
                    <input type="hidden" name="village_id"  id="village_id"  class="form-control" value="<%= villageid%>">  
                    <input type="hidden" name="house_no"  id="house_no"  class="form-control" value="<%= houseno %>">
                    <input type="hidden" name="period_id"  id="period_id"  class="form-control" value="<%= periodid %>">
               
                   <div class="modal-footer" >
                         
                           <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
                       <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
                   
                   </div>
               </form>
              </div>
            </div>
          </div>
    </body>
</html>
           

<script>
 var x = screen.width;
 var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);

 function clearadvance(){
     console.log("TEST modal");
    $("#clearadvance1").modal(); 
 }

 function printfile() 
        {
            if (iOS == false) {
                var gadget = new cloudprint.Gadget();
gadget.setPrintDocument("[document mimetype]", "[document title]", "[document content]", "[encoding] (optional)");
gadget.openPrintDialog();

            } else {

                printJS('printable', 'html');
            }
        }

    if (x<800) {

      document.getElementById('head').style = "margin-top:-10px";
      document.getElementById('printpdf').style= "display:in-line;border-radius: 30px;";
      if (iOS == true) {
        document.getElementById('head1').style= "display:none";
        //document.getElementById('image1').style= "display:none";
        //document.getElementById('image2').style= "display:none";
        document.getElementById('blank1').style= "display:none";
        document.getElementById('headios').style= "display:in-line";
        document.getElementById('headios1').style= "display:in-line";
      }

      //document.getElementById('myChart2').style = "border-style: solid;border-radius: 10px;border-color: white;padding:0px;background-color: white";
    } 


    var houseid = localStorage.getItem("HouseID", houseid);
    var houseid1 =  document.getElementById("house_id").value;
    //console.log("houseid =" + houseid);
   // console.log("houseid1 =" + houseid1);
    var role = localStorage.getItem("role", role);
    //console.log("role =" + role);
    if (role !== 'admin') {
        
        if (houseid !== houseid1) {
//         localStorage.clear();
 window.location.href="/loginadmin";
// console.log("houseid =" + houseid);
//     console.log("houseid1 =" + houseid1);
    } 

    } 

   
    

</script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://www.google.com/cloudprint/client/cpgadget.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>


