<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill - Slip Box</title>

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
 <link href="assets/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('partials/adminheader.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          
          <!-- <h1 class="h3 mb-2 text-gray-800">ข้อมูลการจอง</h1> -->
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="col-12 card-header py-3">
              <div class="row">
            <div class="col-8 ">
           
                <h4 class="m-0 font-weight-bold text-primary">กล่องรับสลิปเงินโอน</h4>  
            </div>
            <div class="col-4 row " style="text-align: right;">
                 
              <% if (condition == 0) {%>
                <div class="btn-group btn-group-toggle" >

                 <label class="btn btn-secondary active " ><a name="score" id= "unissue" href="/getsliplist/0" style="color:white" > ยังไม่ได้ออกใบเสร็จ </a></label>
                 <label class="btn btn-primary"><a name="score" id= "all" href="/getsliplist/1" style="color:white">ดูทั้งหมด</a></label>
                 
                
                </div>
              
                  <%} else {%>
                    <div class="btn-group btn-group-toggle" >
                   
                      <label class="btn  btn-primary " ><a name="score" id= "unissue1" href="/getsliplist/0" style="color:white" > ยังไม่ได้ออกใบเสร็จ </a></label>
                      <label class="btn btn-secondary active "><a name="score" id= "all1" href="/getsliplist/1" style="color:white">ดูทั้งหมด</a></label>         </div>
              <%} %>
     
            </div>
            </div>
          </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr class="table-heads ">
                      <th class="head-item mbr-fonts-style display-7">วันที่</th><th class="head-item mbr-fonts-style display-7">
                        บ้านเลขที่</th><th class="head-item mbr-fonts-style display-7">รายละเอียด</th>
                        <th class="head-item mbr-fonts-style display-7" style="width: 7%;text-align: center;">ดูรูป</th>
                        <th class="head-item mbr-fonts-style display-7">สถานะ</th>
                        <th class="head-item mbr-fonts-style display-7">ออกใบเสร็จ</th>
                      </tr>
                  </thead>
                  <tfoot>
                    <tr >
                      <th class="head-item mbr-fonts-style display-7">วันที่</th><th class="head-item mbr-fonts-style display-7">
                        บ้านเลขที่</th><th class="head-item mbr-fonts-style display-7">รายละเอียด</th><th class="head-item mbr-fonts-style display-7">ดูรูป</th><th class="head-item mbr-fonts-style display-7">สถานะ</th>
                        <th class="head-item mbr-fonts-style display-7">ออกใบเสร็จ</th>        
                      </tr>
                  </tfoot>
                  <% if (sliplist.length > 0) {%>

                    <tbody>
                      
                      
                      
                      <% sliplist.forEach((slip, index) => { %>
                    <tr> 
                        
                      <td class="body-item mbr-fonts-style display-7" style="width: 12%;"><%= slip.slip_date1 %></td>
                      <td class="body-item mbr-fonts-style display-7"><%= slip.house_no %></td>
                      <td class="body-item mbr-fonts-style display-7 "><%= slip.memo %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center" style="width: 7%;text-align: center;">
                        <a class=".btn-circle" type="button" style="color: blue;"  onclick="showSlip('<%= slip.image_name %>','<%= slip.memo %>','<%= slip.id %>')">ดูรูป</a></td>
                        <% if (slip.status == "ได้รับสลิปแล้ว") {%>
                      <td class="body-item mbr-fonts-style display-7" style="text-align: center;width: 12%;"><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="background-color: orange;" id="button_<%= slip.id %>"  data-toggle="modal" data-target="#updateStatus1" onclick=updateStatus(<%= slip.id %>) ><%= slip.status %></button></td>
                      <% } else if (slip.status == "ส่ง slip แล้ว")  { %>
                        <td class="body-item mbr-fonts-style display-7" style="text-align: center;width: 12%;"><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="background-color: red;" id="button1_<%= slip.id %>"  data-toggle="modal" data-target="#updateStatus" onclick=updateStatus(<%= slip.id %>) ><%= slip.status %></button></td>
                       
                        <% } else { %>
                          <td class="body-item mbr-fonts-style display-7" style="text-align: center;width: 12%;"><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="background-color:#3c9148 ;" id="button2_<%= slip.id %>"><%= slip.status %></button></td>
                       
                          <% } %>
                          <td class="body-item mbr-fonts-style display-7" style="text-align: center;">
                            <a class=".btn-circle" href="/getrcpowner/<%= slip.house_no %>" >ออกใบเสร็จ</a>
                                         
            
                          </td>
                          
                    </tr>
                    <% }) %>
                    </tbody>
                        
                    <% } %>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

         <!-- Footer -->
         <%- include('partials/adminfooter.ejs') %>
         <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Update Status-->

<div class="modal fade" id="updateStatus" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ยืนยันได้รับสลิปแล้ว?</h5>
      </div> 
      <form id="status1"  action="/updateslipstatus" method="post" enctype="multipart/form-data">
        
       <input type="hidden" name="slip_id"  id="slip_id"  class="form-control">  
       <input type="hidden" name="status"  id="status"  class="form-control" value="ได้รับสลิปแล้ว">
       <input type="hidden" name="token3" data-form-field="Phone" class="form-control display-7" id="token3">
                                    
      <div class="modal-footer" >
            
              <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
          <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
      
      </div>
  </form>
    </div>
                  </div>
            

              </div>
               <!-- Modal Update Receipt Status-->

 <div class="modal fade" id="updateStatus1" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ยืนยันออกใบเสร็จแล้ว?</h5>
             
      </div> 
      <form id="status1"  action="/updateslipstatus" method="post" enctype="multipart/form-data">
        
       <input type="hidden" name="slip_id"  id="slip_id1"  class="form-control">  
       <input type="hidden" name="status"  id="status"  class="form-control" value="ออกใบเสร็จแล้ว">
       <input type="hidden" name="token3" data-form-field="Phone" class="form-control display-7" id="token4">
     
      <div class="modal-footer" >
            
              <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
          <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
      
      </div>
  </form>
    </div>
                  </div>
            

              </div>

    <!-- Slip images-->
    <div class="modal fade" id="slipimage" tabindex="-1" role="dialog" aria-labelledby="slipimage" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="slipLabel">รูปสลิป</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" style="height: 100%;">
            
            <img id="slipurl"  class="image" style="width:95%;" >
          </div>
          
        </div>
      </div>
    </div>
<script>
  document.getElementById("token3").value = token1;
  document.getElementById("token4").value = token1;
  function showSlip(imagename,memo,id){
    if (id >= 1467){
      document.getElementById("slipLabel").innerHTML = memo ;
  document.getElementById("slipurl").src = imagename;
  

    } else {
      document.getElementById("slipLabel").innerHTML = memo ;
  document.getElementById("slipurl").src = "http://res.cloudinary.com/hv0f4acfj/image/upload/" + imagename;
  
    }
 
  $("#slipimage").modal();
  
}
</script>

<script>
  if (document.getElementById("unissue") !== null){
 document.getElementById("unissue").href = "/getsliplist/0/Bearer " + token1;
 document.getElementById("all").href = "/getsliplist/1/Bearer " + token1;
  }
 if (document.getElementById("unissue1") !== null){
  document.getElementById("unissue1").href = "/getsliplist/0/Bearer " + token1;
 document.getElementById("all1").href = "/getsliplist/1/Bearer " + token1;
 }


  function updateStatus(slipId) {
  
      document.getElementById("slip_id").value = slipId;
      document.getElementById("slip_id1").value = slipId;
      
     // document.getElementById("button_"+slipId).style.color = "green";
  }
  
  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts
  <script src="assets/js/demo/datatables-demo.js"></script> -->

</body>

</html>

<script>
  // Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable({
    "order": []
});
  
});
</script>