<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">

  <title>DooSmartVill</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.css" rel="stylesheet">
  <script src="assets/js/admin.js"></script>
</head>

<style>
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>

<body id="page-top" onload="startTime()">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <input type="hidden" id = "token3" name="token3"  class="form-control align-right" value="<%= token1 %>"  >
    <input type="hidden" id = "emp_name1" name="emp_name1"  class="form-control align-right" value="<%= empname %>" >
    <input type="hidden" id = "role" name="role"  class="form-control align-right" value="<%= role1 %>" >
    <input type="hidden" id = "villagename" name="villagename"  class="form-control align-right" value="<%= villagename %>" >
    <input type="hidden" id = "fullname" name="fullname"  class="form-control align-right" value="<%= adminname %>" >
    <input type="hidden" id = "villageid" name="villageid"  class="form-control align-right" value="<%= villageid %>" >
    
    <%- include('partials/adminheader.ejs') %>

        <!-- Begin Page Content -->
        <div class="container-fluid" style="min-height:75%;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="color: blue;"><div id="txt"></div></h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content Row -->


          <!-- Content Row -->

                     <!-- Color System -->
                     <div class="row">
                 
                      <!-- Approach -->
                      <div class="col-lg-3 ">
              <div id="group1" class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ออกใบแจ้งหนี้</h6>
                </div>
                <div class="card-body " >
                  <a class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmtoinv" >  <div class="text-white large">- ออกใบแจ้งหนี้ประจำเดือน</div></a>
                  <a href="/advanceinvoice" > <div class="text-white-10 large">- ออกใบแจ้งหนี้ล่วงหน้า</div></a>
                   <a id="invoicelist1" href="/getinvoicelist" ><div class="text-white-10 large">- ดูรายการหนี้คงค้าง</div></a>
                   <a id="allinvoice1" href="/getallinvoice" ><div class="text-white-10 large">- พิมพ์ใบแจ้งหนี้ทั้งหมด</div></a>
                   <a id="sliplist1" href="/getsliplist/0" ><div class="text-white-10 large">- กล่องรับสลิปการโอน</div></a>
                   <a href="/createletter" ><div class="text-white-10 large">- ออกหนังสือติดตาม</div></a>
                  </div>
              </div>
            </div>
            <div id="group2" class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ออกใบเสร็จรับเงิน</h6>
                </div>
                <div class="card-body " >
                 
                  <a href="/" > <div class="text-white-10 large"  ><a href="/issuereceipt" >- ออกใบเสร็จรับเงิน</a></div>
                  <a id="oldcommonfee1" href="/oldcommonfee" ><div class="text-white-10 large">- ออกใบเสร็จชำระเงินย้อนหลัง</div></a>
                  <a id="receiptlist1" href="/getreceiptlist" ><div class="text-white-10 large">- ดูใบเสร็จรับเงินย้อนหลัง 1 เดือน</div></a>
                  <a id="allreceipt1" href="/getallreceiptlist" > <div class="text-white-10 large">- ดูใบเสร็จย้อนหลังทั้งหมด</div></a>
                  <a href="/getvoidreceipt" > <div class="text-white-10 large">- ดูใบเสร็จรับเงินที่ยกเลิก</div></a>

                  </div>
              </div>
            </div>

            <div id="group3" class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">บันทึกรายรับ-จ่ายอื่นๆ</h6>
                </div>
                <div class="card-body " >
                 
                  <a id="income1" href="/income" ><div class="text-white-10 large"  >- บันทึกรายรับอื่นๆ</div></a>
                  <a id="expense1" href="/expense" > <div class="text-white-10 large">- บันทึกรายจ่าย</div></a>
                    <a id="allreceipt11" href="/getreceiptlist1" ><div class="text-white-10 large">- ดูประวัติรายรับอืนๆ</div></a>
                      <a id="allexpense1" href="/getexpenselist" > <div class="text-white-10 large">- ดูรายการรายจ่าย</div></a>
               <br>
                  </div>
              </div>
            </div>
            <div id="group4" class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ดูรายงานสรุป</h6>
                </div>
                <div class="card-body " >
                 
                
                  <a href="/todaysummary" ><div class="text-white-10 large">- สรุปรับ-จ่ายวันนี้</div></a>
                  <a href="/incomeexpense" ><div class="text-white-10 large"  >- สรุปรับ-จ่าย วัน/เดือน/ปี</div></a>
                  <a href="/pendingpayment" > <div class="text-white-10 large">- สรุปยอดคงค้าง</div></a>
                    <br>
                    <br>
                  </div>
              </div>
            </div>
            <div id="group5" class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">ข้อมูลลูกบ้าน</h6>
                </div>
                <div class="card-body " >
                 
                
                  <a id="houselist1" href="/gethouselist" ><div class="text-white-10 large"  >- ข้อมูลลูกบ้าน</div></a>
                  
                  <a href="/getcarlist" > <div class="text-white-10 large">- ข้อมูลทะเบียนรถ</div></a>
                  <a href="/getcommentlist" ><div class="text-white-10 large">- กล่องรับข้อเสนอแนะ/ร้องเรียน</div></a>
                  <br>
                    <br>
                  </div>
              </div>
            </div>
            <div id="group6" class="col-lg-3 ">
              <div class="card shadow mb-4">
                <div class="card-header bg-success py-3">
                  <h6 class="m-0 font-weight-bold text-gray-100 text-lg">Back up ข้อมูล</h6>
                </div>
                <div class="card-body " >
                      
                  <a href="" data-toggle="modal" data-target="#incomeperiod" ><div class="text-white-10 large">- ข้อมูลรายรับ</div></a>
                  <a href="" data-toggle="modal" data-target="#expenseperiod" ><div class="text-white-10 large"  >- ข้อมูลรายจ่าย</div></a>
                  <a href="/loadpending" > <div class="text-white-10 large">- ข้อมูลสรุปยอดคงค้าง</div></a>
                  <a id="loadhouse1" href="/loadhouseinfo" > <div class="text-white-10 large">- ข้อมูลลูกบ้าน</div></a>
                  <a href="/parkingfeeinfo" > <div class="text-white-10 large">- ข้อมูลรายรับค่าจอดรถ</div></a>
                    <br>
                  </div>
              </div>
            </div>
        
                                         
                      
                
        
                    </div>
      
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <%- include('partials/adminfooter.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Modal Select income period-->

 <div class="modal fade" id="incomeperiod" role="dialog" >
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="height:auto;" >
      <div class="modal-header">
       
              <h4 class="modal-title">ข้อมูลรายรับระหว่างวันที่</h4>
      </div> 
      <form id="loadincome1" name="loadincome1"  action="/loadincome" method="post" style="padding:10px">
          <div class="dragArea row">
              <div data-for="number" class="col-md-12  form-group" style="text-align: center;">
                  <label for="phone-form1-h" class="form-control-label mbr-fonts-style display-7">เลือกช่วงเวลา</label>
                  <!-- <input type="number" name="phone" data-form-field="Phone" class="form-control display-7" id="phone-form1-h"> -->
                  <div class="radio" onchange="showperiod()" >
                      <label style="padding-right: 20px;"><input type="radio" name="period" id= "today" value="today" checked required >วันนี้</label>
                  
                      <label style="padding-right: 20px;"><input type="radio" name="period" id= "thismonth" value="thismonth" required>เดือนนี้</label>
                      <label style="padding-right: 20px;"><input type="radio" name="period" id= "period1" value="period" required onchange="showperiod()">เลือกช่วงเวลา</label>
                     
                     
                    </div>
              
              </div>    
              <div class="col-md-12" id="showperiod" style="display: none;"> 
                  <div class="row">     
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">จากวันที่</label>
              <input type="date" id="start_date" name="start_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">ถึงวันที่</label>
              <input type="date" id="end_date" name="end_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
      </div> 
  </div> 
  
      
          <div class="col-md-12 input-group-btn align-center" style="text-align: center;">
              <button type="submit" class="btn-sm btn-success" style="width:100px">ยืนยัน</button>
          <button type="button" class="btn-sm btn-warning" style="width:100px" data-dismiss="modal">ยกเลิก</button>
    
      </div>
  </div>
  </form>
    </div>
                  </div>
            

              </div>

<!-- Modal Select pending period-->
<div class="modal fade" id="pendingperiod" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="height:250px;">
      <div class="modal-header">
       
              <h4 class="modal-title">ข้อมูลยอดเงินคงค้างระหว่างวันที่</h4>
      </div> 
      <form id="status1"  action="/loadpending" method="post" enctype="multipart/form-data" style="padding:10px">
          <div class="dragArea row">
                     
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">จากวันที่</label>
              <input type="date" id="start_date1" name="start_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">ถึงวันที่</label>
              <input type="date" id="end_date1" name="end_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
       
  
      
          <div class="col-md-12 input-group-btn align-center">
              <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
          <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
    
      </div>
  </div>
  </form>
    </div>
                  </div>
            

              </div>

<!-- End-->
<!-- Modal Select expense period-->
<div class="modal fade" id="expenseperiod" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="height:250px;">
      <div class="modal-header">
       
              <h4 class="modal-title">ข้อมูลยอดค่าใช้จ่ายระหว่างวันที่</h4>
      </div> 
      <form name="status1" id="status1"  action="/loadexpense" method="post"  style="padding:10px">
          <div class="dragArea row">
                     
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">จากวันที่</label>
              <input type="date" id="start_date2" name="start_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
          <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-h" class="form-control-label mbr-fonts-style display-7">ถึงวันที่</label>
              <input type="date" id="end_date2" name="end_date" data-form-field="Email" required="required" class="form-control display-7 align-right" >
          </div>
       
  
      
          <div class="col-md-12 input-group-btn align-center">
              <button type="submit" class="btn-sm btn-primary">ยืนยัน</button>
          <button type="button" class="btn-sm btn-default" data-dismiss="modal">ยกเลิก</button>
    
      </div>
  </div>
  </form>
    </div>
                  </div>
            

              </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/checkrole.js"></script>
  
  
  <script>

    var x = screen.width;
    
       if (x<800) {
        //  document.getElementById('head1').style = "display:none";
        //  document.getElementById('txt').style = "font-size:20px";
        //  document.getElementById('accordionSidebar').style.width = "0px";;
         
       
         //document.getElementById('myChart2').style = "border-style: solid;border-radius: 10px;border-color: white;padding:0px;background-color: white";
       } 
   
   </script>
  <script>
    function startTime() {
      var today = new Date();
      var d = today.getDate();
      var mm = today.getMonth();
      var y = today.getFullYear();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      // Alert on 5th of each month 
      // if (d == 5 ){
      //   alert("แจ้งเพื่อโปรดชำระค่าบริการเช่า Server และฐานข้อมูลภายในวันที่ 5 ของทุกเดือน ขออภัยหากท่านทำการชำระเงินแล้ว");
      // }

      var month = new Array();
           month[0] = "มกราคม";
           month[1] = "กุมภาพันธ์";
           month[2] = "มีนาคม";
           month[3] = "เมษายน";
           month[4] = "พฤษภาคม";
           month[5] = "มิถุนายน";
           month[6] = "กรกฎาคม";
           month[7] = "สิงหาคม";
           month[8] = "กันยายน";
           month[9] = "ตุลาคม";
           month[10] = "พฤศจิกายน";
           month[11] = "ธันวาคม";
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
     "วันที่ " + d + " " + month[mm] + " " + y + " เวลา " + h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
    <script>

      function showperiod() {
          //console.log ("already clicked");
          if ( document.getElementById("period1").checked == true) {
          document.getElementById("showperiod").style.display = "inline";
       } else {
          document.getElementById("showperiod").style.display = "none";
       }
      }


     
    
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      
      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = '0' + dd;
      } 
      if (mm < 10) {
        mm = '0' + mm;
      } 
      var today = yyyy + '-' + mm + '-' + dd ;
      //console.log(today);
      document.getElementById("start_date").value = today;
      document.getElementById("end_date").value = today;
      document.getElementById("start_date1").value = today;
      document.getElementById("end_date1").value = today;
      document.getElementById("start_date2").value = today;
      document.getElementById("end_date2").value = today;
     
      
      </script>
</body>

</html>
