<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v4.11.4, https://mobirise.com -->
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="generator" content="Mobirise v4.11.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  

  <title id="villagename2"></title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">

  
</head>
<body>
    <%- include('partials/custheader.ejs') %>



<section class="header12 cid-rNnuSnTqu5 mbr-fullscreen mbr-parallax-background" id="header12-1">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container  ">
            <div class="media-container align-center" style="margin-left:0px ;text-align: center;">
                  
      
                    <p id= "villagename3" class="mbr-text pb-3 mbr-white mbr-fonts-style display-5" style="font-size: x-large;font-weight: bold;" >DoSMart Village</p>
                    <input type="hidden" id = "mytoken" name="mytoken"  class="form-control align-right" value="<%= mytoken %>" >
                
                    <input type="hidden" id = "villagename" name="villagename"  class="form-control align-right" value="<%= villagename %>" >
                    <input type="hidden" id = "house_id" name="house_id"  class="form-control align-right"  value="<%= houseno %>" >
            
                    <input type="hidden" id = "cust_id" name="cust_id"  class="form-control align-right"  value="<%= custid %>" >
                  <input type="hidden" id = "villageid2" name="villageid"  class="form-control align-right" value="<%= villageid %>" >
  
                    <!-- <h1 id = "head1" class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-6" >iDesign Villege System</h1> -->
                 
                    

                    <div id="button-group" class=" icons-media-container mbr-white " >
                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block" >
                            <a id="post2" href="/login" >
                                <span class="mbr-iconfont mbri-layers"></span>
                                </a>
                            </div>
                            <h6 class="mbr-fonts-style display-5" style="font-size: medium;">
                                ประกาศหมู่บ้าน
                            </h6>
                        </div>

                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="invoice2" href="/login">
                                    <span class="mbr-iconfont mbri-cash"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                ดูยอดต้องชำระ
                            </h5>
                        </div>
                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="slip" href="/login">
                                    <span class="mbr-iconfont mbri-bookmark"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                ส่งสลิปโอนเงิน
                            </h5>
                        </div>
                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="receipt2" href="/login">
                                    <span class="mbr-iconfont mbri-edit"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                ใบเสร็จรับเงิน
                            </h5>
                        </div>

                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="report2" href="/login">
                                    <span class="mbri-growing-chart mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                สรุปรับ-จ่าย
                            </h5>
                        </div>

                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="contact2" href="/login">
                                    <span class="mbri-touch mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                เบอร์โทรฉุกเฉิน</h5>
                        </div>
                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="comment2" href="/login">
                                    <span class="mbri-touch mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                ส่งความเห็น</h5>
                        </div>
                        <div class="card col-5 col-sm-5 col-md-5 col-lg-2" style="border-style: solid;border-radius: 20px;border-color: white;padding: 10px;margin: 5px;">
                            <div class="icon-block">
                                <a id="commentstatus" href="/login">
                                    <span class="mbri-sites mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5" style="font-size: medium;">
                                สถานะความเห็น</h5>
                        </div>
                    </div>
                    <input type="hidden" id = "message" name="message"  class="form-control align-right"  value="<%= message %>" >
                  
                
                       
                  
                       
           
            </div>
    </div>

    
</section>

<%- include('partials/custfooter.ejs') %>



  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
<!-- Template Main JS File -->
<script src="assets/js/member.js"></script>
  <script>
   
//console.log("villageid = "+ villageid1);

if (villageid1 == "" || villageid1 == null){
    
      localStorage.removeItem('HouseID');
      localStorage.removeItem('custid');
      
window.location.href="/" + villagename + "/login";

}
  </script>
</body>
</html>