<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v4.11.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.11.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>News</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
    <%- include('partials/custheader.ejs') %>
    
  <section class="features18 popup-btn-cards cid-rPbhdI4mnh" id="features18-z">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            ข่าวประชาสัมพันธ์</h2>
            <div class="col-md-12" style="padding-bottom: 0px 0px 5px 5px;">
        <div class="media-container-row pt-1 ">
            <% if (newslist.length > 0) {%> 
                <% newslist.forEach((news, index) => { %>
            <div class="card p-1 col-12 col-md-6 col-lg-4" style="padding:0px 0px 5px 15px;">
                <div class="card-wrapper " >
                    <div class="card-img" style="border-radius:10px 10px 0px 0px;">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <!-- <a href="/member" class="btn btn-primary display-4">Learn More</a> -->
                        </div>
                        <% if (news.image_name == '' || news.image_name == null ) { %>
                            <img src="assets/images/background1.jpg" style="max-width:100%;height:200px" alt="Mobirise">
                             <% } else { %>
                              <img src="<%= news.image_name %>" style="max-width:100%;height:200px" alt="Mobirise">
                    
                            
                            <% } %>    
                    </div>
                    <div class="card-box">
                        <div style="text-align:left;padding-top: 10px">
                            <h7 class=" mbr-fonts-style mb-1" style="font-size: smaller">
                                วันที่ประกาศ:  <%= news.post_date %>
                              </h7>
                        </div>
                        <p class="card-title mbr-fonts-style display-5" style="font-weight: bold;">
                            <%= news.news_topic %>
                        </p>
                       
                     
                        <p class="mbr-text mbr-fonts-style align-left display-4">
                            <p id="details_<%= news.news_id %>" class="shrinkable"><%= news.news_details %></p>
                       
                        </p>
                       
                    </div>
                </div>
            </div>
            <% }) %>
          
                
            <% } %>

         

            
        </div>
    </div>
    </div>
</section>


<%- include('partials/custfooter.ejs') %>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/dropdown/js/nav-dropdown.js"></script>
<script src="assets/dropdown/js/navbar-dropdown.js"></script>
<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
<script src="assets/parallax/jarallax.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/theme/js/script.js"></script>
    
<!-- Template Main JS File -->
<script src="assets/js/member1.js"></script>
 
<script>
    function showMore(id){
    document.getElementById(id+'Overflow').className='';
    document.getElementById(id+'MoreLink').className='hidden';
    document.getElementById(id+'LessLink').className='text-primary';
}

function showLess(id){
    document.getElementById(id+'Overflow').className='hidden';
    document.getElementById(id+'MoreLink').className='text-primary';
    document.getElementById(id+'LessLink').className='hidden';
}


</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var len = 100;
    axios
  .get("/getnewslist1")
  .then(response => {
    console.log("ok");
    
    var newslist = response.data;
    console.log(newslist);
    for (i = 0; i < newslist.length; i++) {
      document.getElementById("details_"+newslist[i].news_id).innerHTML = newslist[i].news_details ;
      
    }

  
})
  .catch(err => {
    console.error(err);
  })

  </script>
</body>
</html>