<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v4.11.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.11.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>News</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
    <%- include('partials/custheader.ejs') %>
    
  <section class="features18 popup-btn-cards cid-rPbhdI4mnh" id="features18-z">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            ข่าวประชาสัมพันธ์</h2>
            <div class="col-md-12">
        <div class="media-container-row pt-5 ">
            <% if (newslist.length > 0) {%> 
                <% newslist.forEach((news, index) => { %>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper " >
                    <div class="card-img" style="border-radius:25px 25px 0px 0px;">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <!-- <a href="/member" class="btn btn-primary display-4">Learn More</a> -->
                        </div>
                        <% if (news.image_name == '' || news.image_name == null ) { %>
                            <img src="assets/images/background1.jpg" style="max-width:100%;height:200px" alt="Mobirise">
                             <% } else { %>
                              <img src="https://res.cloudinary.com/hiuscvdu2/image/upload/v159281582/<%= news.image_name %>" style="max-width:100%;height:200px" alt="Mobirise">
                    
                            
                            <% } %>    
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            <%= news.news_topic %>
                        </h4>
                        <p class="mbr-text mbr-fonts-style align-left display-4">
                            <p id="details_<%= news.news_id %>" class="shrinkable"><%= news.news_details %></p>
                     <p id="details1_<%= news.news_id %>" style="display:none"><%= news.news_details %></p>
                        
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
          
                
            <% } %>

         

            
        </div>
    </div>
    </div>
</section>


<%- include('partials/custfooter.ejs') %>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/dropdown/js/nav-dropdown.js"></script>
<script src="assets/dropdown/js/navbar-dropdown.js"></script>
<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
<script src="assets/parallax/jarallax.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/theme/js/script.js"></script>
    
<!-- Template Main JS File -->
<script src="assets/js/member1.js"></script>
 
<script>
    function showMore(id){
    document.getElementById(id+'Overflow').className='';
    document.getElementById(id+'MoreLink').className='hidden';
    document.getElementById(id+'LessLink').className='text-primary';
}

function showLess(id){
    document.getElementById(id+'Overflow').className='hidden';
    document.getElementById(id+'MoreLink').className='text-primary';
    document.getElementById(id+'LessLink').className='hidden';
}

var len = 100;
var shrinkables = document.getElementsByClassName('shrinkable');
if (shrinkables.length > 0) {

    for (var i = 0; i < shrinkables.length; i++){
        var fullText = shrinkables[i].innerHTML;
        console.log(fullText);
        if(fullText.length > len){
            // var trunc = fullText.substring(0, len).replace(/\w+$/, '');
            var trunc = fullText.substring(0, len);
            var remainder = "";
            var id = shrinkables[i].id;
           
            remainder = fullText.substring(len, fullText.length);
            shrinkables[i].innerHTML = '<span>' + trunc + '<span class="hidden" id="' + id + 'Overflow">'+ remainder +'</span></span>&nbsp;<a id="' + id + 'MoreLink" class="text-primary" href="#!" onclick="showMore(\''+ id + '\');">ดูเพิ่มเติม</a><a class="hidden text-primary" href="#!" id="' + id + 'LessLink" onclick="showLess(\''+ id + '\');">ย่อ</a>';
            //console.log(shrinkables[i].innerHTML);
          }
    }
}
</script>
</body>
</html>