<!DOCTYPE.html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= receiptno %></title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
 <link href="assets/css/sb-admin-2.css" rel="stylesheet">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <style type="text/css">

@media print
      {
          #non-printable { display: none; }
          .non-printable1 { display: none; }
          .footer1 {display:none;}
          #printable { display: block;}
      
      }
      @page {
          size: A4;
          margin: 0;
      }
      </style>       
</head>

<style>
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

</style>

<body id="page-top" >

  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include('partials/adminheader.ejs') %>



        <!-- Begin Page Content -->
        <div class="container-fluid" style="min-height:75%;">

          <!-- Page Heading -->
          <div id="non-printable">
            
          <div class="d-sm-flex align-items-center justify-content-between mb-4 col-md-8 ">
            <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm " onclick="window.history.back()"><i class="fas fa-angle-double-left fa-sm text-white-50"></i> กลับ</a>
      
            <h1 class="h3 mb-0 text-gray-800" style="color: blue;"><div id="txt"></div></h1>
           
            <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="window.print()"><i class="fas fa-print fa-sm text-white-50"></i> พิมพ์ใบเสร็จ</a>  <!-- <h1 class="h3 mb-0 text-gray-800" style="color: blue;"><div id="txt"></div></h1> -->
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>
       
        </div>
          <!-- Content Row -->


          <!-- Content Row -->

                     <!-- Color System -->
                 
                      <div id="non-printable">
                      <!-- <button type="button" class="btn btn-primary btn-form display-4" style="border-radius: 30px;" onclick="window.history.back()">กลับ</button> -->
                        <button type="button" id="printpdf" class="btn btn-primary btn-form display-4" style="border-radius: 30px;display:none" onclick="printJS('printable', 'html')"><span class="mbri-save"></span> บันทึก</button>
                  
                    </div>
                    <div id="printable">
                      <div class="invoice-box" style="width:100%;margin-top: 30px;background-color: white;margin-left: -30px;" >
                          <table cellpadding="0" cellspacing="0" style="border-style: solid;border-color: black;padding: 15px;min-height: 140mm;color: black;">
                              <tr class="top">
                                  <td colspan="2">
                                      <table>
                                          <tr>
                                              <td class="title">
                                                  <img src="assets/images/idesign1.png" style="width:100%; max-width:220px;" />
                                              </td>
                                             
                                              <td style="color: black;">
                                                  เลขที่ใบเสร็จ: <%= receiptno %>
                                                  <br> วันที่ออก: <%= receiptdate %>
                                                  <br> 
                                              </td>
                                             
                                          </tr>
                                       
                                      </table>
                                      <table id="head" style="margin-top: -100px;">
                                        <tr>
                                          <td >
                                          
                                          </td>                       
                                            <td  class="title align-right" >
                                              ใบเสร็จรับเงิน (ต้นฉบับ)
                                          </td>
                                           
                                        </tr>
                                 
                                    </table>
                                  </td>
                              </tr>
                              <tr class="information ">
                                  <td colspan="2 ">
                                      <table>
                                          <tr>
                                              <td style="color: black;">
                                                  
                                                  <% if (houseno !== '') {%>
                                                      <a style="font-weight: bold;"><%= ownername %><br></a>
                                                  บ้านเลขที่  <a style="font-weight: bold;font-size: large;"><%= houseno %></a> ซอยที่ <a style="font-weight: bold;font-size: large;"><%= laneno %></a><br>
                                                  ถนน เลียบคลองสอง แขวง บางชัน เขตคลองสามวา กรุงเทพมหานคร 10510
                                                  <% } else { %>
                                                      <br>
                                                     ได้รับเงินจาก : <a style="font-weight: bold;font-size: x-large;"><%= ownername %><br></a>
                                                      <% }%>
                                              </td>
                                             
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                              <tr class="heading ">
                                  <td>
                                      รายการ
                                  </td>
                                  <td>
                                     จำนวนเงิน
                                  </td>
                              </tr>
                              <% if (invoicelist.length >0) {%>
                                <% invoicelist.forEach((invoice, index) => { %>
                              <tr class="item" style="font-size: medium;">
                      
                                      <% if (invoice.invoice_month !== null) {%>
                                 
                                      <td>
                                          <%= invoice.invoice_type %> - <%= invoice.invoice_month %>
                                       </td>
                                       <td>
                                          <%= invoice.amount %> บาท 
                                       </td>
                                
                                
                                  <% } else { %>
                                      <td>
                                          <%= invoice.invoice_type %> 
                                       </td>
                                       <td>
                                          <%= invoice.amount %> บาท 
                                       </td>
              
                                  <% } %>
                              </tr>
                          
                              <% }) %>
                              <% } %>
                                     
                                  
                                  
                                      
                             
                                      <td>
                                          รับเงินมาทั้งสิ้น:
                                        
                                      </td>
                  
                                  <td   style="text-align: right;font-size: medium;font-weight: bold;">
                                 <%= totalpay %> บาท
                              </td>
                             
                          </tr> 
                          <tr>
                              <td>
                                 ประเภทการชำระเงิน:
                                   
                                 <% if (paymenttype == 'เงินโอน') {%> 
                                  <a style="font-weight: bold;"> <%= paymenttype %> </a> เลขที่การโอน: <%= transferno %>
                                 <% } else {%>
                                    <a style="font-weight: bold;">  <%= paymenttype %>  </a>  
                                   <% }%> 
                              </td>
                              <td style="text-align: right;font-size: medium;">
                                
                              </td>
                          </tr>
                      
                           
                                  <tr class="item" style="font-size: medium;">
                                <td colspan="2" style="margin-top: -100px;">
                                    <table>
                                        <tr>
              
                                          <td>
                                        
                                     </td>
                                        <td style="color: black;">
                                        
                                           ผู้รับเงิน
                                           <br>
                                           <br>
                                           ลงชื่อ __________________________________________<br>
                                            
                                            
                                        </td>
                                            <br>
                                          
                                        </tr>
                                        
                                    </table>
                                    <p class="align-center" style="font-size: small;text-align: center;color: black;"> ******นิติบุคคลหมู่บ้านไอน์ดีไซน์ ขอขอบคุณที่เป็นส่วนหนึ่งในการพัฒนาหมู่บ้านด้วยกัน*******</p> 
                                </td>
                            </tr>
                          </tr>
                          </table>
              
                      </div>
                  </div>
              <!-- COpy document -->
              <div id="printable">
                <div class="invoice-box" style="width:100%;margin-top: 30px;background-color: white;margin-left: -30px;" >
                    <table cellpadding="0" cellspacing="0" style="border-style: solid;border-color: black;padding: 15px;min-height: 140mm;color: black;">
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="assets/images/idesign1.png" style="width:100%; max-width:220px;" />
                                        </td>
                                       
                                        <td style="color: black;">
                                            เลขที่ใบเสร็จ: <%= receiptno %>
                                            <br> วันที่ออก: <%= receiptdate %>
                                            <br> 
                                        </td>
                                       
                                    </tr>
                                 
                                </table>
                                <table id="head" style="margin-top: -100px;">
                                  <tr>
                                    <td >
                                    
                                    </td>                       
                                      <td  class="title align-right" >
                                        ใบเสร็จรับเงิน (สำเนา)
                                    </td>
                                     
                                  </tr>
                           
                              </table>
                            </td>
                        </tr>
                        <tr class="information ">
                            <td colspan="2 ">
                                <table>
                                    <tr>
                                        <td style="color: black;">
                                            
                                            <% if (houseno !== '') {%>
                                                <a style="font-weight: bold;"><%= ownername %><br></a>
                                            บ้านเลขที่  <a style="font-weight: bold;font-size: large;"><%= houseno %></a> ซอยที่ <a style="font-weight: bold;font-size: large;"><%= laneno %></a><br>
                                            ถนน เลียบคลองสอง แขวง บางชัน เขตคลองสามวา กรุงเทพมหานคร 10510
                                            <% } else { %>
                                                <br>
                                               ได้รับเงินจาก : <a style="font-weight: bold;font-size: x-large;"><%= ownername %><br></a>
                                                <% }%>
                                        </td>
                                       
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="heading ">
                            <td>
                                รายการ
                            </td>
                            <td>
                               จำนวนเงิน
                            </td>
                        </tr>
                        <% if (invoicelist.length >0) {%>
                          <% invoicelist.forEach((invoice, index) => { %>
                        <tr class="item" style="font-size: medium;">
                
                                <% if (invoice.invoice_month !== null) {%>
                           
                                <td>
                                    <%= invoice.invoice_type %> - <%= invoice.invoice_month %>
                                 </td>
                                 <td>
                                    <%= invoice.amount %> บาท 
                                 </td>
                          
                          
                            <% } else { %>
                                <td>
                                    <%= invoice.invoice_type %> 
                                 </td>
                                 <td>
                                    <%= invoice.amount %> บาท 
                                 </td>
        
                            <% } %>
                        </tr>
                    
                        <% }) %>
                        <% } %>
                               
                            
                            
                                
                       
                                <td>
                                    รับเงินมาทั้งสิ้น:
                                  
                                </td>
            
                            <td   style="text-align: right;font-size: medium;font-weight: bold;">
                           <%= totalpay %> บาท
                        </td>
                       
                    </tr> 
                    <tr>
                        <td>
                           ประเภทการชำระเงิน:
                             
                           <% if (paymenttype == 'เงินโอน') {%> 
                            <a style="font-weight: bold;"> <%= paymenttype %> </a> เลขที่การโอน: <%= transferno %>
                           <% } else {%>
                              <a style="font-weight: bold;">  <%= paymenttype %>  </a>  
                             <% }%> 
                        </td>
                        <td style="text-align: right;font-size: medium;">
                          
                        </td>
                    </tr>
                
                     
                            <tr class="item" style="font-size: medium;">
                          <td colspan="2" style="margin-top: -100px;">
                              <table>
                                  <tr>
        
                                    <td>
                                  
                               </td>
                                  <td style="color: black;">
                                  
                                     ผู้รับเงิน
                                     <br>
                                     <br>
                                     ลงชื่อ __________________________________________<br>
                                      
                                      
                                  </td>
                                      <br>
                                    
                                  </tr>
                                  
                              </table>
                              <p class="align-center" style="font-size: small;text-align: center;color: black;"> ******นิติบุคคลหมู่บ้านไอน์ดีไซน์ ขอขอบคุณที่เป็นส่วนหนึ่งในการพัฒนาหมู่บ้านด้วยกัน*******</p> 
                          </td>
                      </tr>
                    </tr>
                    </table>
        
                </div>
            </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer id="footer1" class="footer1 sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; DooSmartVill 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded " href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.ejs">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="assets/js/demo/chart-area-demo.js"></script>
  <script src="assets/js/demo/chart-pie-demo.js"></script>

   
   <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

</body>

</html>
