<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DooSmartVill - Vote Topic List</title>

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
 <link href="assets/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/adminheader.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          
          <!-- <h1 class="h3 mb-2 text-gray-800">ข้อมูลการจอง</h1> -->
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header d-sm-flex align-items-center justify-content-between mb-4 py-3">
                <h4 class="m-0 font-weight-bold text-primary">หัวข้อการโหวตและคะแนน</h4>  
            
            <div class="col-2 " style="align-items: right;"> 
              <a  class="d-none d-sm-inline-block btn btn-info shadow-sm text-white" data-toggle="modal" data-target="#addNewVote"><i class="fa fa-user"></i> เพิ่มโหวตใหม่</a>
          
             </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr class="table-heads ">
                      <th class="head-item mbr-fonts-style display-7">เลขที่</th>
                      <th class="head-item mbr-fonts-style display-7">วันที่ประกาศ</th>
                      <th class="head-item mbr-fonts-style display-7">หัวข้อการโหวต</th>
                      <th class="head-item mbr-fonts-style display-7">วันที่ปิดการโหวต</th>
                      <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 1</th>
                      <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 2</th>
                        <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 3</th>
                        <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 4</th>
                        <th class="head-item mbr-fonts-style display-7">ดูคะแนนดิบ</th>
                      
                      </tr>
                  </thead>
                  <tfoot>
                    <tr >
                      <th class="head-item mbr-fonts-style display-7">เลขที่</th>
                      <th class="head-item mbr-fonts-style display-7">วันที่ประกาศ</th>
                      <th class="head-item mbr-fonts-style display-7">หัวข้อการโหวต</th>
                      <th class="head-item mbr-fonts-style display-7">วันที่ปิดการโหวต</th>
                      <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 1</th>
                      <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 2</th>
                        <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 3</th>
                        <th class="head-item mbr-fonts-style display-7">ตัวเลือกที่ 4</th>
                        <th class="head-item mbr-fonts-style display-7">ดูคะแนนดิบ</th>
                      
                      </tr>
                  </tfoot>
                  <% if (votelist.length > 0) {%>

                    <tbody>
                      
                      
                      
                      <% votelist.forEach((vote, index) => { %>
                    <tr> 
                        
                      <td class="body-item mbr-fonts-style display-7"><%= vote.vote_no %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center" style="text-align: center;"><%= vote.vote_date %></td>
                      <td class="body-item mbr-fonts-style display-7 "><%= vote.vote_topic %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center" style="text-align: center;"><%= vote.close_date %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center"><%= vote.option1 %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center"><%= vote.option2 %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center"><%= vote.option3 %></td>
                      <td class="body-item mbr-fonts-style display-7 align-center"><%= vote.option4 %></td>
                      <td class="body-item mbr-fonts-style display-7">
                        <a class=".btn-circle" href="/gethouseinfo/" >ดูคะแนนดิบ</a>
                      </td>
                    </tr>
                    <% }) %>
                    </tbody>
                        
                    <% } %>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('partials/adminfooter.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Modal Add New Employee Status-->

<div class="modal fade" id="addNewVote" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="width: 600px;" >
      <div class="modal-header">
        <h5 class="modal-title text-primary" style="font-weight: bold;" id="exampleModalLabel">เพิ่มพนักงานใหม่</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> 
      <div class="modal-body">
      <form id="addemployee"  action="/addemployee" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
        <div class="row"> 
          <div class="col-6"> 
        <h6 class="modal-title text-primary" >Username: </h6>
        <input type="text" name="emp_name"  id="emp_name"  class="form-control"> 
        </div>
        <div class="col-6"> 
        <h6 class="modal-title text-primary" >วันที่เริ่มงาน: </h6>    
        <input type="date" id="start_date1" name="start_date1" required="required" class="form-control display-7" style="text-align:center;" > 
      </div>
    </div>
        <div class="row"> 
          <div class="col-6"> 
          
        <h6 class="modal-title text-primary" >ชื่อพนักงาน: </h6>
        <input type="text" name="emp_name1"  id="emp_name1"  class="form-control">  
      </div>
      <div class="col-6"> 
        <h6 class="modal-title text-primary" >นามสกุล: </h6>
        <input type="text" name="emp_surname"  id="emp_surname"  class="form-control"> 
      </div>
    </div>
        <h6 class="modal-title text-primary" >เบอร์ติดต่อ: </h6>
        <input type="text" name="emp_contact"  id="emp_contact"  class="form-control">  
       
        <h6 class="modal-title text-primary" >Password: </h6>
        <!-- <input type="password" name="emp_pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  id="emp_pwd1"  class="form-control">  
        -->
        <input type="password" name="emp_pwd1"   id="emp_pwd1"  class="form-control">  
        <h6 class="modal-title text-primary" >ยืนยัน Password </h6>
        <input type="password" name="emp_pwd"  id="emp_pwd2"  class="form-control">  
       
        <div class="modal-footer" >
            
          <button type="submit" style="width:100px" class="btn-sm btn-success">ยืนยัน</button>
      <button type="button" style="width:100px" lass="btn-sm btn-secondary" data-dismiss="modal">ยกเลิก</button>
  
  </div>
</form>    
      </div> 

    </div>
</div>
</div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script>
    // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('#dataTable').DataTable({
    "order": [[ 1, 'asc' ]]
});
    
  });
  </script>

</body>

</html>
